@charset "utf-8";
/* CSS Document */

/* ===============
 * 重新定义Html元素
 * =============== */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td {
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
}
strong {
	font-weight: bold;
}
ul, ol {
	list-style: none outside none;
}
fieldset, img {
	border: medium none;
}
caption, th {
	text-align: left;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font: 12px/150% Arial, Verdana, "microsoft yahei";
	color: #666666;
	background: #FFF none repeat scroll 0 0;
	margin: 0;
	padding: 0;
}
a {
	color: #555;
	outline: medium none;
}
a:active {
	text-decoration: none;
}
a:hover {
	color: #E4393C;
	text-decoration: underline;
}
i, cite, em {
	font-style: normal;
}
/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
	display: block;
}
/* ==========================
 * 常用宽度、高度、边距、边框属性
 * ========================== */
.w {
	width:1210px;
	margin:0 auto;
}
.wrapper {
	width: 1210px;
	margin: auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.block {
	display: block;
}
.none {
	display: none;
}
.goods-price {
	font-family: Verdana;
}
.goods-price em {
	font-weight: 600;
	color: #E22A40;
}
/* ==========================
 * 广告区域布局样式
 * ========================== */
.ads-topbanner-layout {
	text-align: center;
	display: block;
	width: 100%;
	overflow: hidden;
}
/* 首页焦点区域
-------------------------------------- */
.home-focus-layout {
	width: 100%;
	height: 518px;
	position: relative;
	z-index: 1;
}
/* 满屏背静切换焦点图 */
.full-screen-slides {
	width: 100%;
	height: 514px;
	position: relative;
	z-index: 1;
}
.full-screen-slides li {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.full-screen-slides li a {
	display: block;
	width: 750px;
	height: 290px;
	text-indent: -9999px;
	margin-left: -365px;
	position: absolute;
	z-index: 2;
	left: 50%;
	top:0px;
}
.full-screen-slides-pagination {
	font-size: 0;
*word-spacing:-1px/*IE6、7*/;
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#33FFFFFF', endColorstr='#33FFFFFF');
	background: rgba(255,255,255,0.2);
	text-align: right;
	display: block;
	list-style: none;
	width: 774px;
	height: 6px;
	padding: 7px 8px;
	margin-left: -395px;
	position: absolute;
	left: 50%;
	top: 312px;
	z-index: 9;
}
.full-screen-slides-pagination li {
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
*display:inline/*IE6、7*/;
	list-style: none;
	width: 24px;
	height: 6px;
	margin-left: 4px;
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#3F000000', endColorstr='#3F000000');
	background: rgba(0,0,0,0.25);
	overflow: hidden;
	cursor: pointer;
*zoom:1;
}
.full-screen-slides-pagination a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-indent: -9999px;
}
.full-screen-slides-pagination .current {
	background: #F30;
}
/* 三联切换焦点图 */
.jfocus-trigeminy {
	width: 790px;
	height: 178px;
	margin-left: -395px;
	clear: both;
	position: absolute;
	z-index: 2;
	top: 334px;
	left: 50%;
}
/*焦点区域右侧*/
.home-focus-layout .right-sidebar {
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#19000000', endColorstr='#19000000');
	background: rgba(0,0,0,0.1);
	width: 210px;
	height: 514px;
	padding: 0 1px 0px;
	margin-left: 394px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
}
/*服务标志*/
.home-focus-layout .policy {
	background-color: #02BDB2;
	width: 210px;
	height: 78px;
	padding: 0px 0 0;
}
.home-focus-layout .policy ul {
	width: 210px;
	height: 68px;
}
.home-focus-layout .policy ul li {
	line-height: 24px;
	color: #999;
	background: url(../images/shengji_ad/dd005.jpg) no-repeat;
	width: 50px;
	height: 24px;
	float: left;
	padding: 52px 10px 0 10px
}
.home-focus-layout .policy ul li.b1 {
	background-position: 0 0;
}
.home-focus-layout .policy ul li.b2 {
	background-position: -70px 0;
}
.home-focus-layout .policy ul li.b3 {
	background-position: -140px 0;
}
/* 商城首页-新闻及店铺Tab切换 */
.nc-home-news .tabs-nav {
	background: #F7F7F7;
	height: 32px;
	border-bottom: solid 1px #E7E7E7;
	position: relative;
	z-index: 1;
}
.nc-home-news .tabs-nav li {
	line-height: 25px;
	background: #F7F7F7;
	text-align: center;
	display: block;
	width: 70px;
	height: 25px;
	float: left;
	padding: 0;
	margin: 5px 0 0 5px;
	border: solid #F7F7F7;
	border-width: 1px 1px 0 1px;
	position: relative;
	z-index: 9;
}
.nc-home-news .tabs-nav li.tabs-selected {
	color: #333;
	font-weight: 700;
	line-height: 27px;
	background: #FFF;
	height: 27px;
	border: solid #E7E7E7;
	border-width: 1px 1px 0 1px;
	position: relative;
	z-index: 10;
	_margin-bottom: -1px/* IE6 */;
}
.nc-home-news .tabs-nav li a:hover, .nc-home-news .tabs-nav li.tabs-selected a {
	color: #333;
}
.nc-home-news .tabs-panel {
	width: 95%;
	margin: 6px auto;
}
.tabs-hide {
	display: none !important;
}
.tabs-panel .store-join-btn {
	background: url(../images/header/home_bg.png) no-repeat 0 -200px;
	display: block;
	width: 165px;
	height: 60px;
	margin: 20px auto 15px;
}
.tabs-panel .store-join-help {
	color: #999;
	display: block;
	text-align: center;
}
.tabs-panel .store-join-help:hover {
	text-decoration: none;
	color: #39C;
}
.tabs-panel .store-join-help i {
	font-size: 14px;
	margin-right: 4px;
}
/*团购活动*/
.home-focus-layout .groupbuy {
	background-color: #fff;
	width: 210px;
	height: 288px;
	position: relative;
	z-index: 1;
	overflow: hidden;
		border-bottom:1px solid #E7E7E7;
}
.home-focus-layout .groupbuy .title {
	line-height: 30px;
	background-color: #F0F0F0;
	color: #777;
	width: 210px;
	height: 30px;
}
.home-focus-layout .groupbuy .title i {
	line-height: 16px;
	color: #FFF;
	background-color: #CB0100;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: auto 8px auto 5px;
	border-radius: 2px;
}
.home-focus-layout .groupbuy ul {
	height: 260px;
	padding: 0px;
	margin: 0px;
	float: left;
	clear: both;
	position: absolute;
	z-index: 1;
}
.home-focus-layout .groupbuy ul li {
	float: left;
	width: 210px;
	height: 258px;
	padding: 0px;
}
.home-focus-layout .groupbuy .pagination {
	display: none;
}
.home-focus-layout .groupbuy .arrow {
	background: url(../images/header/home_bg.png) no-repeat;
	width: 19px;
	height: 29px;
	position: absolute;
	z-index: 2;
	top: 80px;
	cursor: pointer;
}
.home-focus-layout .groupbuy:hover .arrow {
	opacity: 0.5!important;
}
.home-focus-layout .groupbuy .arrow:hover {
	opacity: 0.8!important;
}
.home-focus-layout .groupbuy .pre {
	background-position: -160px -40px;
	left: 0;
}
.home-focus-layout .groupbuy .next {
	background-position: -180px -40px;
	right: 0;
}
.home-focus-layout .groupbuy dl {
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: top center;
	width: 210px;
	height: 180px;
	padding-bottom: 28px;
	position: relative;
	z-index: 1;
}
.home-focus-layout .groupbuy dl dt {
	color: #FFF;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#7F000000', endColorstr='#7F000000');
	background: rgba(0,0,0,0.5);
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
	height: 20px;
	padding: 2px 5px 38px 5px;
	position: absolute;
	z-index: 1;
	top: 170px;
	left: 0;
	overflow: hidden;
}
.home-focus-layout .groupbuy dl dd.price {
	font-family: Verdana, Geneva, sans-serif;
	background: url(../images/header/home_bg.png) no-repeat 0 0;
	width: 200px;
	height: 30px;
	position: absolute;
	z-index: 1;
	top: 195px;
	left: 10px;
}
.home-focus-layout .groupbuy dl dd.price .groupbuy-price {
	font-size: 16px;
	font-weight: 600;
	color: #FFF;
	line-height: 24px;
	display: block;
	height: 24px;
	float: left;
	margin: 3px 0 auto 12px;
}
.home-focus-layout .groupbuy dl dd.price .original-price {
	font-size: 12px;
	color: #FFF;
	text-decoration: line-through;
	line-height: 24px;
	color: #F99;
	display: block;
	float: left;
	height: 24px;
	margin: 3px 0 auto 4px;
}
.home-focus-layout .groupbuy dl dd.price .buy-button a {
	font-weight: 600;
	color: #FFF;
	background-color: #FF6800;
	line-height: 20px;
	text-align: center;
	width: 54px;
	height: 22px;
	float: right;
	margin: 5px 5px auto auto;
}
.home-focus-layout .groupbuy dl dd.time {
	font-family: Verdana;
	background-color: #FFF;
	width: 200px;
	height: 20px;
	padding: 4px 5px;
	position: absolute;
	z-index: 1;
	position: absolute;
	top: 230px;
	left: 0px;
}
.home-focus-layout .groupbuy dl dd.time .sell {
	float: left;
}
.home-focus-layout .groupbuy dl dd.time .sell em {
	font-weight: 600;
	color: #E72551;
	margin-left: 2px;
}
.home-focus-layout .groupbuy dl dd.time .time-remain {
	color: #777;
	float: right;
}
.home-focus-layout .groupbuy dl dd.time .time-remain em {
	font-weight: 600;
	color: #E72551;
}
/* 商城首页-新闻及店铺Tab切换*/
.proclamation {
	background: #FFF;
	width: 210px;
	height: 185px;
		border-bottom:1px solid #E7E7E7;
}
.proclamation .tabs-nav {
	background: #F7F7F7;
	height: 30px;
	padding:0px;
	border: solid #E7E7E7;
	border-width: 1px 0;
	z-index: 1;
}
.proclamation .tabs-nav li {
	background: #F7F7F7;
	text-align: center;
	display: block;
	width: 103px;
	height: 20px;
	float: left;
	padding: 5px 0;
	margin: 0px;
	border: solid #F7F7F7;
	border-width: 0 0 0 1px;
	z-index: 9;
	cursor: pointer;
}
.proclamation .tabs-nav li h3 {

}
.proclamation .tabs-nav li.tabs-selected {
	color: #333;
	font-weight: 600;
	line-height: 20px;
	background: #FFF;
	width: 104px;
	height: 20px;
	border-style: solid;
	border-color: transparent #E7E7E7 #FFF #E7E7E7;
	border-width: 0 1px 1px 1px;
	position: relative;
	z-index: 10;
	_margin-bottom: -1px/* IE6 */;
}
.proclamation .tabs-nav li h3, #news .tabs-nav li.tabs-selected h3 {
	color: #333;
}
.proclamation .tabs-panel {
	width: 95%;
	margin: 6px auto;
}
.proclamation .mall-news {
	padding:3px 2.5%;
}
.proclamation .mall-news li {
	line-height: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 25px;
	padding: 1px 0;
	overflow: hidden;
}
.proclamation .mall-news li i {
	background: url(../images/header/home_bg.png) no-repeat -70px -40px;
	vertical-align: middle;
	display: inline-block;
	width: 2px;
	height: 2px;
	margin-right: 6px;
}
.proclamation .mall-news li time {
	font-family: Tahoma, Geneva, sans-serif;
	color: #999;
	font-size: 10px;
	margin-left: 6px;
}
.tabs-hide {
	display: none !important;
}
.home-sale-layout {
	overflow: hidden;
}
.home-sale-layout .left-layout {
	width: 1000px;
	float: left;
	border-bottom: solid 1px #F0F0F0;
}
.home-sale-layout .tabs-nav {
	background-color: transparent;
	width: 100%;
	height: 40px;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: transparent transparent #F0F0F0 transparent;
	position: relative;
	z-index: 1;
}
.home-sale-layout .tabs-nav li {
	background-color: transparent;
	width: 20%;
	height: 40px;
	float: left;
	padding: 0;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.home-sale-layout .tabs-nav li h3 {
	font-size: 14px;
	font-weight: 600;
	line-height: 38px;
	text-align: center;
}
.home-sale-layout .tabs-nav li i {
	font-size: 0px;
	line-height: 0;
	display: none;
	width: 0px;
	height: 0px;
	float: right;
	margin-left: -4px;
	border-width: 5px;
	border-style: dashed dashed solid dashed;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 50%;
}
.home-sale-layout .tabs-nav .tabs-selected {
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #E22A40;
}
.home-sale-layout .tabs-nav .tabs-selected i {
	display: block;
	border-color: transparent transparent #E22A40;
}
.home-sale-layout .tabs-nav .tabs-selected h3 {
	color: #E22A40;
}
.home-sale-layout .tabs-panel {
	width: 999px;
	overflow: hidden;
}
.home-sale-layout .tabs-panel ul {
	width: 1000px;
	margin-left: -1px;
	overflow: hidden;
}
.home-sale-layout .tabs-panel ul li {
	width: 199px;
	height: 235px;
	padding: 15px 0 0;
	border-left: dotted 1px #F0F0F0;
	float: left;
	overflow: hidden;
}
.home-sale-layout .tabs-panel dl {
	width: 160px;
	margin: 0 auto auto;
	position: relative;
	z-index: 1;
}
.home-sale-layout .tabs-panel dl dt.goods-name {
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 16px;
	width: 160px;
	height: 32px;
	position: absolute;
	z-index: auto;
	top: 164px;
	left: 0;
	overflow: hidden;
}
.home-sale-layout .tabs-panel dl dd.goods-thumb {
	width: 160px;
	height: 160px;
	position: absolute;
	z-index: auto;
	top: 0;
	left: 0;
}
.home-sale-layout .tabs-panel dl dd.goods-thumb a {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
*display: block;
	width: 160px;
	height: 160px;
	overflow: hidden;
}
.home-sale-layout .tabs-panel dl dd.goods-thumb img {
	max-width: 160px;
	max-height: 160px;
margin-top:expression(160-this.height/2);
*margin-top:expression(80-this.height/2);
}
.home-sale-layout .tabs-panel dl dd.goods-price {
	line-height: 20px;
	color: #999;
	position: absolute;
	z-index: auto;
	top: 200px;
	left: 0;
}
.home-sale-layout .tabs-panel dl dd.goods-price em {
	font-size: 14px;
	vertical-align: middle;
}
.home-sale-layout .right-sidebar {
	width: 210px;
	float: right;
}
.home-sale-layout .right-sidebar .title {
	height: 40px;
	border-bottom: solid 2px #E22A40;
}
.home-sale-layout .right-sidebar .title h3 {
	font-size: 14px;
	font-weight: 600;
	line-height: 38px;
	color: #E22A40;
	margin-left: 20px;
}
.home-sale-layout .sale-discount {
	width: 210px;
	height: 252px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.home-sale-layout .sale-discount ul {
	width: auto;
	height: 252px;
	position: absolute;
	z-index: 1;
}
.home-sale-layout .sale-discount ul li {
	width: 210px;
	height: 50px;
	float: left;
	padding: 191px 0 0 0;
}
.home-sale-layout .sale-discount .arrow {
	background: url(../images/header/home_bg.png) no-repeat;
	width: 19px;
	height: 29px;
	margin-top: -40px;
	position: absolute;
	z-index: 2;
	top: 50%;
	cursor: pointer;
	opacity: 0.25!important;
}
.home-sale-layout .sale-discount .arrow:hover {
	opacity: 0.85!important;
}
.home-sale-layout .sale-discount .pre {
	background-position: -160px -70px;
	left: 0;
}
.home-sale-layout .sale-discount .next {
	background-position: -180px -70px;
	right: 0;
}
.home-sale-layout .sale-discount dl {
	height: 59px;
	width: 210px;
	border-bottom: solid 1px #F0F0F0;
	position: relative;
	z-index: 1;
}
.home-sale-layout .sale-discount dl dt, .home-sale-layout .sale-discount dl dd {
	position: absolute;
	z-index: auto;
}
.home-sale-layout .sale-discount dt.goods-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
	height: 20px;
	top: 30px;
	left: 5px;
	overflow: hidden;
}
.home-sale-layout .sale-discount dd.goods-thumb {
	top: -155px;
	left: 30px;
}
.home-sale-layout .sale-discount dd.goods-thumb a {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
*display: block;
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.home-sale-layout .sale-discount dd.goods-thumb img {
	max-width: 150px;
	max-height: 150px;
margin-top:expression(150-this.height/2);
*margin-top:expression(75-this.height/2);
}
.home-sale-layout .sale-discount dd.goods-price {
	font: 600 16px/30px Verdana;
	color: #E22A40;
	width: 200px;
	height: 30px;
	top: 0;
	left: 5px;
}
.home-sale-layout .sale-discount dd.goods-price .original {
	font-size: 12px;
	color: #AAA;
	font-weight: normal;
	text-decoration: line-through;
	margin-left: 6px;
}
.home-sale-layout .sale-discount dd.goods-price-discount {
	color: #FFF;
	background: url(../images/header/home_bg.png) no-repeat -100px -100px;
	text-align: center;
	width: 48px;
	height: 24px;
	padding: 28px 0 16px 0;
	top: -40px;
	right: 5px;
}
.home-sale-layout .sale-discount dd.goods-price-discount em {
	font-size: 16px;
	font-weight: 600;
	margin-right: 2px;
}
.home-sale-layout .sale-discount dd.time-remain {
	color: #999;
	line-height: 16px;
	text-align: center;
	width: 210px;
	height: 16px;
	top: -180px;
	left: 0;
}
.home-sale-layout .sale-discount dd.time-remain i {
	background: url(../images/header/home_bg.png) no-repeat -40px -60px;
	vertical-align: middle;
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-right: 4px;
}
.home-sale-layout .sale-discount dd.time-remain em {
	font-weight: 600;
	color: #555;
	margin: 0 2px;
}
.home-sale-layout .sale-discount dd.goods-buy-btn {
}
.home-sale-layout .sale-discount .preNext {
	opacity: 0.5 !important;
}
.home-sale-layout .sale-discount .preNext:hover {
	opacity: 1 !important;
}
/* 首页标准内容模块
-------------------------------------- */
.home-standard-layout {
	overflow: hidden;
	margin-top: 10px;
}
/*区块左侧*/
.home-standard-layout .left-sidebar {
	width: 212px;
	height: 540px;
	float: left;
}
.home-standard-layout .left-sidebar .title {
	background-color: #FFF;
	width: 100%;
	height: 40px;
}
.home-standard-layout .left-sidebar .title .pic-type {
}
.home-standard-layout .left-sidebar .title .pic-type img {
	max-width: 210px;
	max-height: 40px;
	margin: 0 1px;
}
.home-standard-layout .left-sidebar .title .txt-type {
	height: 32px;
}
.home-standard-layout .left-sidebar .title .txt-type span {
	font-family: Tahoma;
	font-size: 18px;
	line-height: 28px;
	background: #FFF;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: auto 8px auto 2px;
	border: solid 2px;
	border-radius: 18px;
}
.home-standard-layout .left-sidebar .title .txt-type h2 {
	font: 22px/32px "microsoft yahei";
	color: #555;
	vertical-align: middle;
	display: inline-block;
*display: inline/*IE6,7*/;
	zoom: 1;
}
/*区块左侧广告*/.home-standard-layout .left-ads {
	width: 100%;
	height: 280px;
}
.home-standard-layout .left-ads img {
	max-width: 212px;
	max-height: 280px;
}
/*左侧推荐分类*/
.home-standard-layout .recommend-classes {
	width: 200px;
	height: 220px;
	margin: 0 auto;
	overflow: hidden;
}
.home-standard-layout .recommend-classes ul {
	font-size: 0;
*word-spacing:-1px/*IE6、7*/;
	width: 202px;
	height: 222px;
	margin: -1px;
}
.home-standard-layout .recommend-classes ul li {
	display: inline-block;
*display: inline;
	zoom: 1;
}
.home-standard-layout .recommend-classes ul li a {
	font-size: 13px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.05);
	color: #FFF;
	line-height: 21px;
	background: url(../images/header/home_bg.png) no-repeat -200px 10px;
	text-align: center;
	display: block;
	width: 101px;
	height: 21px;
	padding: 7px 0;
	border-style: solid;
	border-width: 1px 0;
}
.home-standard-layout .recommend-classes ul li a:hover {
	text-decoration: none;
	text-shadow: none;
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#19000000', endColorstr='#19000000');
	background: rgba(0,0,0,0.1);
}
/*区块中部*/
.home-standard-layout .middle-layout {
	width: 800px;
	height: 100%;
	float: left;
}
.home-standard-layout .tabs-nav {
	background-color: transparent;
	width: 100%;
	height: 35px;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: transparent transparent #DDD transparent;
	position: relative;
	z-index: 1;
}
.home-standard-layout .tabs-nav li {
	background-color: transparent;
	width: 25%;
	height: 35px;
	float: left;
	padding: 0;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #DDD;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.home-standard-layout .tabs-nav li h3 {
	font-size: 14px;
	font-weight: 600;
	line-height: 35px;
	text-align: center;
}
.home-standard-layout .tabs-nav li i {
	font-size: 0px;
	line-height: 0;
	display: none;
	width: 0px;
	height: 0px;
	float: right;
	margin-left: -4px;
	border-width: 5px;
	border-style: dashed dashed solid dashed;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 50%;
}
.home-standard-layout .tabs-panel {
	width: 800px;
	height: 556px;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1;
}
/*中部推荐位广告图形式1*/
.home-standard-layout .middle-banner-style01 {
	background-color: #000;
	width: 786px;
	height: 498px;
	position: relative;
	z-index: 1;
}
.home-standard-layout .middle-banner-style01 a {
	position: absolute;
	z-index: 1;
}
.home-standard-layout .middle-banner-style01 .a1, .home-standard-layout .middle-banner-style01 .a2, .home-standard-layout .middle-banner-style01 .c1, .home-standard-layout .middle-banner-style01 .c2, .home-standard-layout .middle-banner-style01 .a1 img, .home-standard-layout .middle-banner-style01 .a2 img, .home-standard-layout .middle-banner-style01 .c1 img, .home-standard-layout .middle-banner-style01 .c2 img {
	width: 194px;
	height: 194px;
}
.home-standard-layout .middle-banner-style01 .a1 {
	top: 0;
	left: 0;
}
.home-standard-layout .middle-banner-style01 .a2 {
	top: 194px;
	left: 0;
}
.home-standard-layout .middle-banner-style01 .b1 {
	width: 388px;
	height: 388px;
	top: 0;
	left: 194px;
}
.home-standard-layout .middle-banner-style01 .b1 img {
	width: 388px;
	height: 388px;
}
.home-standard-layout .middle-banner-style01 .c1 {
	top: 0;
	left: 582px;
}
.home-standard-layout .middle-banner-style01 .c2 {
	top: 194px;
	left: 582px;
}
.home-standard-layout .middle-banner-style01 .d1, .home-standard-layout .middle-banner-style01 .d2, .home-standard-layout .middle-banner-style01 .d3, .home-standard-layout .middle-banner-style01 .d4, .home-standard-layout .middle-banner-style01 .d1 img, .home-standard-layout .middle-banner-style01 .d2 img, .home-standard-layout .middle-banner-style01 .d3 img, .home-standard-layout .middle-banner-style01 .d4 img {
	width: 194px;
	height: 110px;
}
.home-standard-layout .middle-banner-style01 .d1 {
	top: 388px;
	left: 0;
}
.home-standard-layout .middle-banner-style01 .d2 {
	top: 388px;
	left: 194px;
}
.home-standard-layout .middle-banner-style01 .d3 {
	top: 388px;
	left: 388px;
}
.home-standard-layout .middle-banner-style01 .d4 {
	top: 388px;
	left: 582px;
}
/*中部推荐商品列表*/
.home-standard-layout .middle-goods-list {
	width: 800px !important;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: transparent #DDD #DDD transparent;
	overflow: hidden;
}
.home-standard-layout .middle-goods-list ul {
	width: 784px;
	height: 498px;
	margin: 0 -1px -1px 0;
}
.home-standard-layout .middle-goods-list ul li {
	width: 195px;
	height: 248px;
	float: left;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: transparent #DDD #DDD transparent;
	overflow: hidden;
}
.home-standard-layout .middle-goods-list dl {
	width: 160px;
	margin: 15px auto auto;
	position: relative;
	z-index: 1;
}
.home-standard-layout .middle-goods-list dl dt.goods-name {
	font-family: Tahoma;
	line-height: 16px;
	width: 160px;
	height: 32px;
	position: absolute;
	z-index: auto;
	top: 168px;
	left: 0;
	overflow: hidden;
}
.home-standard-layout .middle-goods-list dl dd.goods-thumb {
	width: 160px;
	height: 160px;
	position: absolute;
	z-index: auto;
	top: 0;
	left: 0;
}
.home-standard-layout .middle-goods-list dl dd.goods-thumb a {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
*display: block;
	width: 160px;
	height: 160px;
	overflow: hidden;
}
.home-standard-layout .middle-goods-list dl dd.goods-thumb img {
	max-width: 160px;
	max-height: 160px;
margin-top:expression(160-this.height/2);
*margin-top:expression(80-this.height/2);
}
.home-standard-layout .middle-goods-list dl dd.goods-price {
	font-size: 14px;
	line-height: 20px;
	position: absolute;
	z-index: auto;
	top: 204px;
	left: 0;
}
.home-standard-layout .middle-goods-list dl dd.goods-price .original {
	font-size: 12px;
	font-weight: normal;
	text-decoration: line-through;
	color: #999;
	vertical-align: middle;
	margin-left: 6px;
}
/*右侧推荐品牌*/
.home-standard-layout .right-sidebar {
	width: 213px;
	height: 100%;
	float: right;
	left: 0;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.home-standard-layout .right-sidebar .title {
	background-color: #FFF;
	width: 100%;
	height: 40px;
	border-bottom: solid 2px #DDD;
	border-right:1px solid #fff;
}
.home-standard-layout .recommend-brand {
	width: 213px;
	height: 257px;
	overflow: hidden;
}
.home-standard-layout .recommend-brand ul {
	background-color: #FFF;
	width: 213px;
	height: 258px;
	margin-top: -1px
}
.home-standard-layout .recommend-brand ul li {
	background-color: #FFF;
	float: left;
	border-bottom: solid 1px #EEE;
}
.home-standard-layout .recommend-brand ul li a {
	display: block;
	width: 96px;
	height: 32px;
	padding: 5px;
}
.home-standard-layout .recommend-brand ul li img {
	max-width: 96px;
	max-height: 32px;
}
/*右侧广告切换*/
.home-standard-layout .right-side-focus {
	width: 213px;
	height: 241px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.home-standard-layout .right-side-focus ul {
	height: 241px;
	position: absolute;
	z-index: 1;
}
.home-standard-layout .right-side-focus ul li {
	width: 213px;
	height: 241px;
	overflow: hidden;
	float: left;
}
.home-standard-layout .right-side-focus img {
	width: 213px;
	height: 241px;
}
.home-standard-layout .right-side-focus .pagination {
	font-size: 0;
*word-spacing:-1px/*IE6、7*/;
	text-align: center;
	width: 100%;
	height: 6px;
	padding: 7px 10px;
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: 0;
}
.home-standard-layout .right-side-focus .pagination span {
	background: #fff;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
*display:inline/*IE6、7*/;
	list-style: none;
	width: 24px;
	height: 6px;
	margin-left: 4px;
	cursor: pointer;
}
.home-standard-layout .right-side-focus .pagination span.on {
	background: #fff;
}
/*标准区块色彩风格*/
/*一楼*/
.style-one .left-sidebar, .style-one .right-sidebar {
	background-color: #8DD514;
}
.style-one .left-ads {
}
.style-one .left-sidebar .recommend-classes li a {
	border-color: #52BE81 transparent #239C57 transparent;
}
.style-one .left-sidebar .title .txt-type span, .style-one .middle-layout .tabs-selected {
	border-color: #8DD514;
}
.style-one .middle-layout .tabs-selected i {
	display: block;
	border-color: transparent transparent #8DD514 transparent;
}
/*二楼*/
.style-two .left-sidebar, .style-two .right-sidebar {
	background-color: #FF9228;
}
.style-two .left-ads {
}
.style-two .recommend-classes li a {
	border-color: #EB9144 transparent #C56B1E transparent;
}
.style-two .left-sidebar .title .txt-type span, .style-two .middle-layout .tabs-selected {
	border-color: #FF9228;
}
.style-two .middle-layout .tabs-selected i {
	display: block;
	border-color: transparent transparent #FF9228 transparent;
}
/*三楼*/
.style-three .left-sidebar, .style-three .right-sidebar {
	background-color: #2ABFF6;
}
.style-three .left-ads {
}
.style-three .left-sidebar .recommend-classes li a {
	border-color: #5DADE3 transparent #3089C6 transparent;
}
.style-three .left-sidebar .title .txt-type span, .style-three .middle-layout .tabs-selected {
	border-color: #2ABFF6;
}
.style-three .middle-layout .tabs-selected i {
	display: block;
	border-color: transparent transparent #2ABFF6 transparent;
}
/*四楼*/
.style-four .left-sidebar, .style-four .right-sidebar {
	background-color: #FF7A64;
}
.style-four .left-ads {
}
.style-four .left-sidebar .recommend-classes li a {
	border-color: #FF8F8F transparent #E56767 transparent;
}
.style-four .left-sidebar .title .txt-type span, .style-four .middle-layout .tabs-nav .tabs-selected {
	border-color: #FF7A64;
}
.style-four .middle-layout .tabs-nav .tabs-selected i {
	display: block;
	border-color: transparent transparent #FF7A64 transparent;
}
/*五楼*/
.style-five .left-sidebar, .style-five .right-sidebar {
	background-color: #83cfff;
}
.style-five .left-ads {
}
.style-five .recommend-classes li a {
	border-color: #C74D41 transparent #AD3327 transparent;
}
.style-five .left-sidebar .title .txt-type span, .style-five .middle-layout .tabs-selected {
	border-color: #83cfff;
}
.style-five .middle-layout .tabs-selected i {
	display: block;
	border-color: transparent transparent #83cfff transparent;
}
/*六楼*/
.style-six .left-sidebar, .style-six .right-sidebar {
	background-color: #ffbb00;
}
.style-six .left-ads {
}
.style-six .left-sidebar .recommend-classes li a {
	border-color: #B07AC6 transparent #8C50A5 transparent;
}
.style-six .left-sidebar .title .txt-type span, .style-six .middle-layout .tabs-selected {
	border-color: #ffbb00;
}
.style-six .middle-layout .tabs-selected i {
	display: block;
	border-color: transparent transparent #ffbb00 transparent;
}
/*七楼*/
.style-seven .left-sidebar, .style-seven .right-sidebar {
	background-color: #84aeff;
}
.style-seven .left-ads {
}
.style-seven .left-sidebar .recommend-classes li a {
	border-color: #A36B33 transparent #7E3F00 transparent;
}
.style-seven .left-sidebar .title .txt-type span, .style-seven .middle-layout .tabs-selected {
	border-color: #84aeff;
}
.style-seven .middle-layout .tabs-selected i {
	display: block;
	border-color: transparent transparent #84aeff transparent;
}
/*八楼*/
.style-eight .left-sidebar, .style-eight .right-sidebar {
	background-color: #c97bff;
}
.style-eight .left-ads {
}
.style-eight .left-sidebar .recommend-classes li a {
	border-color: #FBFBFB transparent #D4D8D8 transparent;
}
.style-eight .left-sidebar .title .txt-type span, .style-eight .middle-layout .tabs-selected {
	border-color: #c97bff;
}
.style-eight .middle-layout .tabs-selected i {
	display: block;
	border-color: transparent transparent #c97bff transparent;
}
.style-gray .recommend-classes ul li a {
	color: #777;
}
.home-channel-layout {
	margin-top: 15px;
}
.home-channel-layout .ll {
	width: 380px;
	margin-right: 30px;
	float: left;
}
.home-channel-layout .ml {
	width: 380px;
	float: left;
}
.home-channel-layout .rl {
	width: 380px;
	margin-left: 30px;
	float: right;
}
.home-channel-layout .title {
	height: 38px;
	border-bottom: solid 2px #DDD;
}
.home-channel-layout .title h2 {
	font-family: "microsoft yahei";
	font-size: 22px;
	font-weight: 100;
	line-height: 30px;
	paddding: 4px;
}
.home-channel-layout .content {
	margin: 10px 0;
}
.cms-picture {
	width: 380px;
	height: 260px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.cms-picture ul {
	position: absolute;
	z-index: 1;
}
.cms-picture ul li {
	width: 380px;
	height: 260px;
	float: left;
}
.cms-article {
	width: 380px;
	margin-top: 15px;
}
.cms-article dl {
	width: 120px;
	height: 110px;
	float: left;
	clear: left;
	position: relative;
	z-index: 1;
}
.cms-article dl dt {
	line-height: 24px;
	width: 120px;
	height: 24px;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
}
.cms-article dl dd {
	width: 120px;
	height: 90px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.cms-article dl dd img {
	max-width: 120px;
}
.cms-article ul {
	width: 240px;
	float: right;
}
.cms-article ul li {
	line-height: 24px;
}
.microshop-summary .content {
	width: 380px;
	overflow: hidden;
}
.microshop-summary .content ul {
	width: 400px;
	margin-left: -20px;
}
.microshop-summary .content ul li {
	float: left;
	width: 180px;
	height: 240px;
	padding-left: 20px;
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.microshop-share {
	width: 180px;
	height: 90px;
	padding: 195px 0 10px 0;
	position: absolute;
	left: 20px;
	top: 0;
	background: url(trans.gif);
}
.microshop-share b {
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#A5000000', endColorstr='#A5000000');
	background: rgba(0,0,0,0.65);
	display: block;
	width: 180px;
	height: 240px;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 195px;
}
.microshop-summary .content ul li dl {
	position: relative;
	z-index: 2;
}
.microshop-summary .content ul li dl dt {
	padding: 5px;
}
.share-member-avatar {
	border: solid 1px #FFF;
	width: 32px;
	height: 32px;
	float: left;
}
.share-member-avatar img {
	max-width: 32px;
	max-height: 32px;
}
.share-member-info {
	float: left;
	margin-left: 8px;
}
.share-member-name {
	font-size: 12px;
	font-weight: 600;
	color: #FC0;
}
.share-date {
	font-family: Tahoma, Geneva, sans-serif;
	color: #999;
}
.share-content {
	font-size: 12px;
	line-height: 16px;
	clear: both;
	height: 32px;
	padding: 5px;
	overflow: hidden;
}
.share-content a {
	color: #EEE;
}
.share-content a:hover {
	text-decoration: none;
	color: #FC0;
}
.share-like {
	line-height: 16px;
	color: #CCC;
	padding: 0 5px;
}
.share-like i {
	background: url(../images/header/home_bg.png) no-repeat -40px -40px;
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.share-like em {
	font-weight: 600;
	color: #FC0;
	margin: 0 2px;
}
.microshop-thumb {
	background: #fff;
	overflow: hidden;
}
.microshop-thumb a {
	overflow: hidden;
	text-align: center;
	position: relative;
}
.microshop-thumb a img {
	position: relative;
	vertical-align: text-top;
}
.microshop-thumb {
	width: 180px;
	height: 240px;
}
.microshop-thumb a {
	width: 180px;
	height: 240px;
}
.circle-summary .contnet {
	width: 380px;
	overflow: hidden;
}
.circle-theme {
	width: 400px;
	margin-left: -20px;
	overflow: hidden;
}
.circle-theme li {
	width: 180px;
	margin-left: 20px;
	float: left;
}
.circle-theme li a {
	width: 180px;
}
.circle-theme-thumb {
	background: #fff;
	overflow: hidden;
}
.circle-theme-thumb a {
	overflow: hidden;
	text-align: center;
	position: relative;
}
.circle-theme-thumb a img {
	position: relative;
	vertical-align: text-top;
}
.circle-theme-name {
	line-height: 16px;
	background-color: #EBF5EC;
	height: 32px;
	padding: 5px;
	overflow: hidden;
}
.circle-theme-from {
	line-height: 24px;
	color: #999;
	padding: 0 5px;
}
.circle-theme-from a {
	color: #3AA55A;
}
.circle-reply-theme {
	border: dashed #DDD;
	border-width: 1px 0;
	margin: 10px 0 15px 0;
	padding: 8px 5px;
	overflow: hidden;
}
.circle-reply-theme li {
	line-height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.circle-reply-theme li a:hover {
	color: #3AA55A;
	text-decoration: none;
}
.circle-reply-theme li span {
	color: #999;
	margin-right: 4px;
}
.circle-member {
	width: 400px;
	margin-left: -20px;
}
.circle-member li {
	width: 80px;
	height: 80px;
	float: left;
	margin-left: 20px;
}
.circle-member li div.circle-member-avatar {
	width: 80px;
	height: 80px;
}
.circle-member li div.circle-member-avatar a {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
*display: block/*IE7*/;
	width: 72px;
	height: 72px;
	float: left;
	padding: 3px;
	border: solid 1px #EBF5EC;
	overflow: hidden;
}
.circle-member li div.circle-member-avatar a:hover {
	background-color: #EBF5EC;
}
.circle-member li div.circle-member-avatar img {
	max-width: 72px;
	max-height: 72px;
margin-top:expression(72-this.height/2);
*margin-top:expression(36-this.height/2)/*IE7*/;
}
.circle-member li h4.circle-member-name {
	font-weight: 600;
	line-height: 24px;
	height: 24px;
}
.circle-member li h4.circle-member-name a {
	color: #3AA55A;
}
.circle-member li p.circle-member-theme {
	line-height: 16px;
	height: 32px;
	overflow: hidden;
}
.circle-member li p.circle-member-theme a {
	color: #999;
}
.clip-thumb {
	background: #fff;
	overflow: hidden;
}
.clip-thumb a {
	overflow: hidden;
	text-align: center;
	position: relative;
}
.clip-thumb a img {
	position: relative;
	vertical-align: text-top;
}
/* 友情链接 */
.piclink span {
	background-color: #FFF;
	border: 1px solid #D8D8D8;
	width: 88px;
	height: 31px;
	display: inline;
	float: left;
	padding: 2px;
	margin-right: 13px;
}
.piclink {
	margin: 10px auto;
}
.textlink {
	clear: both;
	margin: 0 auto;
	padding: 0 0 10px 0;
}
.textlink span {
	width: 88px;
	display: inline;
	float: left;
	padding: 2px;
	margin-right: 13px;
}
.textlink a {
	line-height: 22px;
	display: block;
	width: 97px;
	float: left;
	text-align: center
}
.w {
	width:1210px;
}
/*小京东v2升级*/
.m-floor {
	margin-bottom: 10px;
	margin-top:15px;
	height: 600px
}
.m-floor .yen {
	font-size: .5em;
	font-style: normal;
	vertical-align: top;
	font-weight: 400
}
.m-floor .header {
	overflow: hidden;
	padding: 5px 0 5px 5px;
	_zoom: 1
}
.m-floor .header h2 {
	color: #2f2f2f;
	font-size: 20px;
	float: left;
	font-weight: 700
}
.m-floor .header .links {
	margin-top: 12px;
	float: right
}
.m-floor .header .links li {
	float: left;
	padding: 0 1em;
	border-right: 1px solid #e5e5e5
}
.m-floor .header .links .last {
	border: 0;
	padding-right: 0
}
.m-floor .header .links a {
	color: #666
}
.m-floor .header .links a.hot {
	color: #e8374d
}
.m-floor .left_floor{width:235px;float:left}
.m-floor .content {
	overflow: hidden
}
.m-floor .mid_floor{width:800px;float:left}
.m-floor .goods {
	float: left;
	width: 100%
}
.m-floor .goods .list {
	margin: 0px;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	border-width: 0 1px
}
.m-floor .goods div.j_ItemInfo {
	float: left;
	width: 25%;
	*width:24.99%;
	_width: 201px;
	color: #2f2f2f;
	height: 278px;
	overflow: hidden;
	border-right: 1px solid #e7e7e7;
	margin-right: -1px;
	*margin-right: -1px;
}
.m-floor .goods a:hover {
	text-decoration: none
}
.m-floor .goods .wrap {
	margin: 20px;
	position: relative;
	_zoom: 1
}
.m-floor .goods img {
	margin: 0 auto 10px;
	display: block
}
.m-floor .goods h3 {
	font-weight: 700
}
.m-floor .goods h3, .m-floor .goods .title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	_width: 100%;
}
.m-floor .goods  .j_ItemInfo h3{
		height:20px;
	line-height:20px	
}
.m-floor .goods .title {
	color: #666;
	margin-bottom: 5px
}
.m-floor .goods .o-price {
	color: #999;
	text-decoration: line-through;
	font-family: arial
}
.m-floor .goods .o-price .yen {
	font-size: 1em
}
.m-floor .goods .price {
	font-size: 18px;
	font-weight: 700;
	font-family: arial;
	line-height: 1.231
}
.m-floor .goods .promo-txt {
	position: absolute;
	top: 137px;
	left: 50%;
	width: 158px;
	margin-left: -80px;
	text-align: center;
	border: 1px solid #e22b41;
	padding: 4px 0;
	line-height: 1;
	background-color: rgba(255,255,255,.8);
	background-color: #fff\9;
	color: #e22b41;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px
}
.m-floor .goods .ui-cart {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 40px
}
.m-floor .recommend {
	width: 240px;
	float: left;
	margin-left:-5px;
	border-top: 2px solid #000;
}
.style-one .recommend{background: #8dd514}
.style-two .recommend{background: #ff9228}
.style-three .recommend{background: #2abff6}
.style-four .recommend{background: #ff7a64}
.style-five .recommend{background: #83cfff}
.style-six .recommend{background: #ffbb00}
.style-seven .recommend{background: #84aeff}
.style-eight .recommend{background: #c97bff}
.m-floor .recommend .words {
	height: 200px;
	padding: 30px 0 30px 20px;
}
.m-floor .recommend .words a {
	margin: 0;
	line-height: 1.1em;
	float: left;
	width: 69px;
	height: 69px;
	text-align: center;
	color: #2f2f2f;
	text-decoration:none;
	background:url(../images/floor_bg1.png) no-repeat;
	position: relative;
}
.m-floor .recommend .words a:hover {
	color: #fff;
	text-decoration:none;
	background: url(../images/floor_bg2.png) no-repeat;
}
.m-floor .recommend .words a:hover b {
	text-decoration: none
}
.m-floor .recommend .words a b {
	font-weight: 400;
	height: 1.1em;
	width: 3em;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1.5em;
	margin-top: -.55em
}
.m-floor .recommend .words a.words-4 b, .m-floor .recommend .words a.words-gt4 b {
	height: 2.2em;
	margin-top: -1.1em
}
.m-floor .recommend .words a.words-4 b {
	width: 2em;
	margin-left: -1em
}
.m-floor .recommend .words a .hot {
	position: absolute;
	top: 0;
	right: 0;
	width: 21px;
	height: 12px;
	background: url(http://g.tbcdn.cn/tm/chaoshi/1.2.0/img/hot.png) no-repeat 0 0;
	text-indent: -999em;
	overflow: hidden
}
.m-floor .recommend .banner {
	display: block;
	height: 296px
}
.m-floor .promo {
	width: 170px;
	float: left;
	font-size: 0;
	border-top:2px #dddddd solid;
	margin-top:35px
}
.m-floor .promo a {
	position: relative;
	display: block
}
.m-floor a.j_ItemInfo_tong{
	width:1210px;
	height:100px;
	display:inline-block;
}
.tms-sidebar {
	border-top: 1px solid #e5e5e5
}
.tms-sidebar a {
	display: block;
	width: 188px;
	height: 170px;
	border: 1px solid #e5e5e5;
	border-width: 0 1px 1px
}
.tms-sidebar img {
	width: 100%;
	height: 100%
}
.tm-chaoshi-markets {
	border: 1px solid #e5e5e5;
	border-width: 1px 0
}
.tm-chaoshi-markets .row1 {
	position: relative;
	left: 0px
}
.tm-chaoshi-markets .row1 a {
	width: 250px!important
}
.tm-chaoshi-nav .layout {
	width: 1190px;
	margin: 0 auto
}
.tm-chaoshi-floorlayout {
	clear: left;
	min-height: 549px;
	_height: 549px
}
.tm-chaoshi-floor {
	position: relative;
	z-index: 1
}
.cat-float {
	width: 210px;
	background-color: #fff
}
.fs .tm-chaoshi-cat .cat-float {
	height: auto
}
.m-floor .goods a.j_AddCart{
	position: absolute;
bottom: 0px;
right: 0px;
width: 40px;
height: 40px;
background:url(../images/shengji_ad/add_to_cart.png) no-repeat 0px 3px;
}
.tm-chaoshi-markets * {
	margin: 0;
	padding: 0
}
.tm-chaoshi-markets p {
	clear: both;
*zoom:1
}
.tm-chaoshi-markets p:after {
	display: block;
	clear: both;
	height: 0;
	content: ' '
}
.tm-chaoshi-markets img {
	width: 100%;
	height: 100%;
	border: 0;
	float: left
}
.tm-chaoshi-markets a:hover {
	position: relative;
	z-index: 11
}
.tm-chaoshi-markets a:hover img {
	position: relative;
	width: 110%;
	_width: 100%;
	height: 110%;
	_height: 100%;
	margin-top: -5%;
	_margin-top: 0;
	margin-left: -5%;
	_margin-left: 0;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in
}
.tm-chaoshi-markets a {
	float: left
}
.tm-chaoshi-markets .hidden {
	display: none
}
/*跑腿业务*/
.right-sidebar .sideMenu2 {
    height: 39px;
    width: 190px;
    line-height: 39px;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 微软雅黑;
    background-color: #02BDB2;
    background-image: url('../images/shengji_ad/dd006.jpg');
    background-repeat: no-repeat;
    background-position: 23px 9px;
}
.right-sidebar .sideMenu2 a {
    color: #FFF;
    padding-left: 30px;
}
/*下单方式*/
.home-focus-layout .order_type {
	width: 210px;
	height: 328px;
	position: relative;
	z-index: 1;
	background:#F7F7F7
}
.home-focus-layout .order_type .title {
	line-height: 36px;
	background-color: #FF9770;
	color: #fff;
	width: 210px;
	height: 36px;
	font-weight:bold
}
.home-focus-layout .order_type .title i {
	display:inline-block;
	background:url(../images/shengji_ad/order.png) no-repeat;
	width: 24px;
	height: 24px;
	vertical-align:middle;
	margin: -2px 8px auto 5px;
	*margin: -1px 8px auto 5px;
}
.home-focus-layout .order_type ul {
	width:190px;
	height: 225px;
	padding: 18px 10px;
	margin: 0px;
	float: left;
	clear: both;
	z-index:99
}
.home-focus-layout .order_type ul li {
	float: left;
	width: 190px;
	line-height:30px;
	padding: 0px;
}
.home-focus-layout .order_type ul li i{
	background:#E31939;
	color:#ffffff;
	padding:2px 5px;
	margin-right:10px
}
.home-focus-layout .order_type ul li p.intel{
	height:20px;
	line-height:20px;
	text-indent:25px	
}
.home-focus-layout .order_type ul li p.phone{
	height:40px;
	line-height:40px;
	text-indent:25px;
	font-size:26px;
	color:#E31939;
	text-indent:25px	
}
.home-focus-layout .order_type ul li .wei_shop{
	width:80px;
	line-height:20px;
	margin-left:25px;
	width:165px;
}
.home-focus-layout .order_type ul li .wei_shop p{
	width:80px;
	line-height:20px;
	float:left;
}
.home-focus-layout .order_type ul li .wei_shop img{
	float:left;
	margin-left:15px;
	width:68px;
	height:68px;
}
/*首页广告组*/
.bf-content {
	width:1210px;
	margin:0px auto;
}
.bf-content span.title {
display: block;
margin: 15px 0 8px;
height: 20px;
line-height: 20px;
font-size: 17px;
font-weight: 700;
color: #000;
text-indent: -1000em;
width: 192px;
background-image: url(../images/header/TB1ztn_FFXXXXc7bFXXGTkpVpXX-204-465.png);
background-repeat: no-repeat;
background-position: 0 -35px;
}
.bf-ul-content {
	width:1210px;
	border-top:2px #F0F0F0 solid
}
.bf-ul-content li {
	padding: 0px;
	width: 242px;
	height: auto;
	float: left;
	display: inline;
	position: relative
}
.bf-ul-content li img{
	border:none	
}
