<!-- $Id: goods_list.htm 17126 2010-04-23 10:30:26Z liuhui $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript">
    //添加代码 全选 by yuanzb
    function selectAll_yuan(obj, chk)
    {
        if (chk == null)
        {
            chk = 'checkboxes';
        }

        var elems = obj.form.getElementsByTagName("INPUT");

        for (var i=0; i < elems.length; i++)
        {
            if (elems[i].name == chk || elems[i].name == chk + "[]")
            {
                elems[i].checked = obj.checked;
            }
        }

        check_box();
    }

    function check_box() {
        var ele = document.getElementsByName("checkboxes[]");
        var btn = document.getElementById("yuan2");
        var chem = false;
        for(var j=0;j <ele.length;j++){
            if(ele[j].checked == true){
               chem = true;
                break;
            }
        }
        if(chem == true){
            btn.disabled = false;
            btn.className = "button";
        }else{
            btn.disabled = true;
            btn.className = " ";
        }
    }
    //添加代码 全选 by yuanzb
</script>
<!-- 商品搜索 -->
{include file="goods_search2.htm"}
<!-- 商品列表 -->
<!-- <form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)"> -->
<form method="post" action="goods.php?act=batch_copy2myshop&page={$filter.page}" name="listForm">
    <!-- start goods list -->
    <div class="list-div" id="listDiv">
{/if}
    <table cellpadding="3" cellspacing="1">
        <tr>
            <th>
              <input onclick='selectAll_yuan(this, "checkboxes")' type="checkbox" />
              <a href="javascript:listTable.sort('goods_id'); ">{$lang.record_id}</a>{$sort_goods_id}
            </th>
            <th><a href="javascript:listTable.sort('goods_name'); ">{$lang.goods_name}</a>{$sort_goods_name}</th>
            <th><a href="javascript:listTable.sort('goods_sn'); ">{$lang.goods_sn}</a>{$sort_goods_sn}</th>
            <th><a href="javascript:listTable.sort('shop_price'); ">{$lang.shop_price}</a>{$sort_shop_price}</th>

            {if $use_storage}
            <th><a href="javascript:listTable.sort('goods_number'); ">{$lang.goods_number}</a>{$sort_goods_number}</th>
            {/if}
            <!--<th>标签</th> -->
            <th width="120">{$lang.handler}</th>
        <tr>
      {foreach from=$goods_list item=goods}
        <tr>
            <td><input type="checkbox" name="checkboxes[]" value="{$goods.goods_id}" onchange="check_box()" />{$goods.goods_id}</td>
            <td class="first-cell" style="{if $goods.is_promote}color:red;{/if}"><span>{$goods.goods_name|escape:html}</span></td>
            <td><span >{$goods.goods_sn}</span></td>
            <td align="right"><span>{$goods.shop_price}

            </span></td>
            {if $use_storage}
            <td align="right"><!-- <span onclick="listTable.edit(this, 'edit_goods_number', {$goods.goods_id})"> -->{$goods.goods_number}<!-- </span> --></td>
            {/if}
            <td align="center">

                <a href="{if $goods.is_shangjia == 1}#{else}goods.php?act=copy2myshop&id={$goods.goods_id}{/if}">
                    <img src="{if $goods.is_shangjia == 1}images/yishangjia.png{else}images/shangjia.png{/if}" alt="" width="80" style="margin-top: 10px;" >
                </a>
            </td>
        </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
</table>
<!-- end goods list -->

<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">


        {insert_scripts files="../js/utils.js"}
        <div id="turn-page">
          {$lang.total_records} <span id="totalRecords">{$record_count}</span>
          {$lang.total_pages} <span id="totalPages">{$page_count}</span>
          {$lang.page_current} <span id="pageCurrent">{$filter.page}</span>
          {$lang.page_size} <input type='text' size='3' id='pageSize' value="{$filter.page_size}" onkeypress="return listTable.changePageSize(event)" />
          <span id="page-link">
            {literal}<a href="javascript:gotoPageFirst()">{/literal}{$lang.page_first}</a>
            {literal}<a href="javascript:gotoPagePrev()">{/literal}{$lang.page_prev}</a>
            {literal}<a href="javascript:gotoPageNext()">{/literal}{$lang.page_next}</a>
            {literal}<a href="javascript:gotoPageLast()">{/literal}{$lang.page_last}</a>
           <!--  <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
              
            </select> -->
          </span>
        </div>


    </td>
  </tr>
</table>

{if $full_page}
</div>

    <div>
        <input style="margin-left: 15px;" onclick='selectAll_yuan(this, "checkboxes")' type="checkbox" />
        <a onclick="selectAll_yuan(this, 'checkboxes')">全选</a>
        <input type="submit" value="批量一键上架" class="" id="yuan2" disabled="true" />

        {* 代码增加_start   By  yuanzb *}
        <!--<input type="button" value="导出商品信息" id="btnSubmit2" name="btnSubmit2" class="button" onclick="export_goods();" />-->
        {* 代码增加_end   By  yuanzb *}
    </div>
</form>
<script language="JavaScript">
      <!--
      var total_pages = {$filter.page_count};
      var page        = {$filter.page};
      var page_size   = {$filter.page_size};
      var url         = 'goods.php?act=distribution&page='

      {literal}
      onload = function()
      {
        var lst = document.getElementById('gotoPage');

        for (i = 1; i <= total_pages; i++)
        {
          var opt = new Option(i, i);
          lst.options.add(opt);

          if (i == page)
          {
            opt.selected = true;
          }
        }
      }

      document.getElementById("pageSize").onkeypress = function(e)
      {
          var evt = Utils.fixEvent(e);
          if (evt.keyCode == 13)
          {
              document.forms['listForm'].submit();
              return false;
          };
      }

      /**
       * 前往第一页
       */
      function gotoPageFirst()
      {
        document.forms['listForm'].elements[page].value = 1;
        var va =document.forms['listForm'].elements[page].value;
        var sa = url + va;
        document.forms['listForm'].setAttribute("action",sa);
        document.forms['listForm'].submit();
      }

      /**
       * 跳转到下一页
       */
        
      function gotoPageNext()
      {
		  

        if (page < total_pages)
        { 
          document.forms['listForm'].elements[page].value = page + 1;
          var va =document.forms['listForm'].elements[page].value;
          var sa = url + va;
		      document.forms['listForm'].setAttribute("action",sa);
          document.forms['listForm'].submit();
        }
      }

      /**
       * 跳转到上一页
       */
      function gotoPagePrev()
      {
        if (page > 1)
        {
          document.forms['listForm'].elements[page].value = page - 1;
          var va =document.forms['listForm'].elements[page].value;
          var sa = url + va;
          document.forms['listForm'].setAttribute("action",sa);
          document.forms['listForm'].submit();
        }
      }

      /**
       * 跳转到最后一页
       */
      function gotoPageLast()
      {
        if (page < total_pages)
        {
          document.forms['listForm'].elements[page].value = total_pages;
          var va =document.forms['listForm'].elements[page].value;
          var sa = url + va;
          document.forms['listForm'].setAttribute("action",sa);
          document.forms['listForm'].submit();
        }
      }
      {\/literal}
      //-->
      </script>
<script type="text/javascript">
//  listTable.recordCount = {$record_count};
//  listTable.pageCount = {$page_count};
//
//  {foreach from=$filter item=item key=key}
//  listTable.filter.{$key} = '{$item}';
//  {/foreach}
//
//  {literal}
//  onload = function()
//  {
//    startCheckOrder(); // 开始检查订单
//    document.forms['listForm'].reset();
//  }

  /**
   * @param: bool ext 其他条件：用于转移分类
   */
/*  function confirmSubmit(frm, ext)
  {
      console.log(frm);
      if (frm.elements['type'].value == 'trash')
      {
          return confirm(batch_trash_confirm);
      }
      else if (frm.elements['type'].value == 'not_on_sale')
      {
          return confirm(batch_no_on_sale);
      }
      else if (frm.elements['type'].value == 'move_to')
      {
          ext = (ext == undefined) ? true : ext;
          return ext && frm.elements['target_cat'].value != 0;
      }
      else if (frm.elements['type'].value == '')
      {
          return false;
      }
      else
      {
          return true;
      }
  }

  function changeAction()
  {
      var frm = document.forms['listForm'];

      // 切换分类列表的显示
      frm.elements['target_cat'].style.display = frm.elements['type'].value == 'move_to' ? '' : 'none';
			
			{if $suppliers_list > 0}
      frm.elements['suppliers_id'].style.display = frm.elements['type'].value == 'suppliers_move_to' ? '' : 'none';
			{/if}

      if (!document.getElementById('btnSubmit').disabled &&
          confirmSubmit(frm, false))
      {
          frm.submit();
      }
  }

  /!* 代码增加_start   By  yuanzb  *!/
  function export_goods()
  {
        var frm=document.forms['listForm'];
		 frm.elements['act'].value ="export_goods";
	    frm.submit();
  }
  /!* 代码增加_end   By  yuanzb  *!/
{/literal}*/
</script>
{include file="pagefooter.htm"}
{/if}