<!-- $Id: start.htm 17216 2011-01-19 06:03:12Z liubo $ -->
{include file="pageheader.htm"}
<!-- directory install start -->

<script type="Text/Javascript" language="JavaScript">
<!--
  //Ajax.call('cloud.php?is_ajax=1&act=cloud_remind','', cloud_api, 'GET', 'JSON');
    function cloud_api(result)
    {
      //alert(result.content);
      if(result.content=='0')
      {
        document.getElementById("cloud_list").style.display ='none';
      }
      else
       {
         document.getElementById("cloud_list").innerHTML =result.content;
      }
    } 
   function cloud_close(id)
    {
      Ajax.call('cloud.php?is_ajax=1&act=close_remind&remind_id='+id,'', cloud_api, 'GET', 'JSON');
    }
  //-->
 </script>

<ul id="lilist" style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
  {foreach from=$warning_arr item=warning}
  <li class="Start315">{$warning}</li>
  {/foreach}
</ul>
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">

</ul>
<!-- directory install end -->
<!-- start personal message -->
{if $admin_msg}
<div class="list-div" style="border: 1px solid #CC0000">
  <table cellspacing='1' cellpadding='3'>
    <tr>
      <th>{$lang.pm_title}</th>
      <th>{$lang.pm_username}</th>
      <th>{$lang.pm_time}</th>
    </tr>
    {foreach from=$admin_msg item=msg}
      <tr align="center">
        <td align="left"><a href="message.php?act=view&id={$msg.message_id}">{$msg.title|truncate:60:"..."}</a></td>
        <td>{$msg.user_name}</td>
        <td>{$msg.send_date}</td>
      </tr>
    {/foreach}
  </table>
  </div>
<br />
{/if}
<!-- end personal message -->
<!-- start order statistics -->
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th class="group-title">店长公告：</th>
  </tr>
  <tr>
    <td width="100%" style="padding:20px 20px 30px 20px;">{$supplier_notice}</td>    
  </tr>

  <tr>
    <th class="group-title">通知文章：</th>
  </tr>
  <tr>
    <td width="100%" >
		<table cellpadding=1 cellspacing=1 width="100%" bgcolor="#f9fdff">
		<tr><th style="background:#f4f9fc;font-weight:bold;">文章标题</th><th style="background:#f4f9fc;font-weight:bold;">发布时间</th></tr>
		{foreach from=$supplier_article item=sarticle}
		<tr><td><a href="{$sarticle.url}" >{$sarticle.title}</a></td><td align=center> {$sarticle.formated_addtime}</td></tr>
		{/foreach}
		</table>
	</td>    
  </tr>

</table>
</div>
<!-- end order statistics -->
<br />

{literal}
{insert_scripts files="../js/utils.js"}

{/literal}
{include file="pagefooter.htm"}
